:host(){
    --darkblue: #0b0d21;
    --lightwhite: #fafafa;
    --lightblue: #0070f3;
    --lightpink: #e91e63;
    --dullblue: #1d1e33;
    --size16: 16px;
    --size14: 14px;
    --size12: 12px;

}
.app{
    min-height: 100vh;
    background-image: url(/sfsites/c/resource/BMIAppBackground);
    background-size: cover;
    background-repeat: no-repeat;
}
.box{
    max-width: 420px;
    text-align: center;
    margin: auto;
    background: var(--darkblue);
    color: var(--lightwhite);
    padding: var(--size16);
    border-radius: 38px;
}
h1{
    font-size: 36px;
    padding: 20px 0;
    font-weight: bold;
}
.info-wrapper{
    background: var(--dullblue);
    padding: var(--size16);
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    font-size: var(--size14);
    text-align: center;
}
h2{
    font-size: 26px;
    color: var(--lightpink);
}
label{
    font-size: 20px;
    color: var(--lightwhite);
}
input{
    color: var(--dullblue);
    padding: 8px;
    font-size: var(--size16);
}
.custom-button{
    font-size: var(--size16);
    padding: var(--size12);
    background: var(--lightpink);
    color: var(--lightwhite);
    border-color: var(--lightpink);
}
.result-value{
    color: var(--lightblue);
    font-size: 30px;

}